<html ng-app="app">

<head>
  <title></title>
  <!-- inject:css -->
  <link rel="stylesheet" href="bootstrap.css">
  <!-- endinject -->
</head>

<body ng-controller="Login">
  <nav class="navbar navbar-default">
    <button ng-show="isAuthenticated()" class="btn btn-link navbar-btn pull-right" ng-click="logout()">Logout</button>
  </nav>

  <div class="container">
    <button ng-hide="isAuthenticated()" class="btn btn-primary" ng-click="login()">Login</button>

    <div class="col-sm-8 col-md-6 col-md-offset-2 col-sm-offset-2">
      <div class="well clearfix">
        <div class="form-group">
          <textarea rows=4 type="text" placeholder="tweet message" class="form-control" ng-model="message">
          </textarea>
        </div>
        <p class="input-group">
          <input class="form-control" type="text" ng-focus="open($event)" placeholder="post date" ng-model="date" datepicker-popup is-open="opened" min-date="minDate">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
        <timepicker ng-model="time"></timepicker>
        <button class="btn btn-primary pull-right" ng-click="tweet()">Tweet</button>
      </div>
    </div>
  </div>
  <!-- vendorInject:js -->
  <script src="vendor/angular.js"></script>
  <script src="vendor/satellizer.js"></script>
  <script src="vendor/ui-bootstrap-tpls.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="app.js"></script>
  <script src="login.js"></script>
  <!-- endinject -->
</body>

</html>
